/* html, body{
    position: relative;
    min-height: 100%;
} */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.header h1 {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  /* align-items: inherit; */
  justify-content: stretch;
  height: 100vh;
}

.logo {
  width: 80px;
  height: 80px;
  background-color: white;
  float: left;
  margin: 10px;
}

.header,
.sidebar,
.content,
.footer {
  border: solid 1px black; /* рамка */
  background: #cccccc;  
}

.header {
  /* Верхняя часть */
  background: #cccccc;
  font-size: 24px;
  height: 120px;
  padding-bottom: 10px;
}

.button-group {
/* background-color: white; */
display: flex;
width: fit-content;
z-index: 5;
}


.horizontalNavigation {
  height: 40px;
  background-color: #383838;
  /* background-color: lawngreen; */
  margin-bottom: 10px;
  padding: 0;
  /* element.style { */
  /* display: flex;
  flex-direction: row; */
  
}

.horizontalNavigation .button {
  background-color: #383838;
  border: none;
  color: white;
  padding: 10px;
  /* padding: 5 5 5 5; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  margin: 0;
  cursor: pointer;
  /* font-family: 'Courier New', Courier, monospace; */
 /*  display: flex;
  flex-direction: row; */
}

.horizontalNavigation .button:hover {
  background-color: white;
  border: none;
  color: black;
  padding: 10px;
  /* padding: 5px 5px 5 5; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  margin: 0;
  cursor: pointer;
}

.layout {
  /* margin-bottom: 20px; */
  /*  overflow: hidden;  */
  /* min-width: 200px;  */
  /* max-width: 500px;  */
  /* height: 500px; */
  /* display: flex; */
  /* background-color: lawngreen; */
  /* margin-bottom: auto; */
  height: 100%;
}

.sidebar {
  /* вертикальное меню */
  width: fit-content;
  float: left; /* обтекание контентом */
  padding: 10px;
  border: 0;
  height: 100%;
}

.sidebar .button1 {
  background-color: #383838;
  border: none;
  color: white;
  padding: 10px 20px 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 0;
  cursor: pointer;
  /* font-family: 'Courier New', Courier, monospace; */
}

.sidebar .button1:hover {
  background-color: white;
  border: none;
  color: black;
  padding: 10px 20px 10px 20px;
  text-align: center;
  text-decoration: underline;
  /* display: inline-block; */
  font-size: 17px;
  margin: 0;
  cursor: pointer;
  /* font-family: 'Courier New', Courier, monospace; */
}

.sidebar ul {
  list-style: none; /* Убираем маркеры */
  padding: 0; /* Убираем отступы */
  margin: 0;
}

.content {
  /* Основное содержание страницы */
  /* margin-left: 270px; */
  background: white;
  border: none;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.paragraph {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.paragraph h2, h3 {
    margin-bottom: 10px;
}

.paragraph ul {
    padding-left: 40px;
}

.footer {
  background-color: #383838;
  height: 25px;
  margin-top: auto;
}
